<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>

<body>
    <table>
        <thead>

        </thead>
    </table>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('connect', async function (socket) {
            console.log('connected');
        });

        socket.on('service', async function (data) {
            console.log(data);
        });


    </script>
</body>

</html>